$content-color: rgb(18, 18, 79);
$font-color: white;
$header-height: 64px;

.diagram{
    width: 80%;
    height: 400px;
    margin: 20px;
    background-color: white;
    text-align: center;
}

.predict-button{
    width: 50%;
    height: 50px;
    margin: 20px;
    background-color: $content-color;
    color: $font-color;
    font-size: 20px;
    border: 10px;
    border-radius: 10px;
}

.model-container{
    width: 100%;
    height: calc(100vh - $header-height);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}